.daily-appointments {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    align-self: flex-start;
    padding-left: 2.6rem;
    font-weight: 800;
  }
}

.time-slot-row {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}

.time-slot-button {
  padding: 10px 8vh;
  font-size: 14px;
  border: 2px solid #0056b3;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #0056b3;
  transition: background-color 0.3s;
  font-weight: 800;
}

.time-slot-button:hover:not(:disabled) {
  background-color: #0056b3;
  color: #fff;
}

.time-slot-button:disabled {
  background-color: #e7e7e7;
  color: #666666;
  border:1px solid #d6d6d6;
  cursor: not-allowed;
}

.profile--header {
  display: flex;
  flex-direction: column; /* Corrected from "rows" to "row" */
  width: 100%;
  height: auto;
  &__image-box {
    flex: 1; /* Flex allows better control of image alignment */
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    border-bottom:0.3px solid #d6d6d6;
  }

  &__image {
    width: 150px;
    align-self: center;
    height: 150px; /* Optional: Set height for consistency */
    object-fit: cover; /* Ensure image maintains aspect ratio */
    border-radius: 50%; /* Optional: Make it a circle if needed */
  }

  &__details {
    flex: 2; 
    display: relative;
    // flex-direction: column;
    // justify-content: start;
    // align-items: start;
    padding-top: 1rem; /* Add space between image and details */
    text-align: start; 
    padding-left: 2rem;
    font-weight: 800;
    color: #a7a7a7;
  }

  &__name {
    display: absolute;
  }
  &__service {
    color: #000000;
    display: block;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
  }
 
 
}
